/* SwayNC Light Theme - Catppuccin Latte */
@define-color noti-border-color #7c7f93;
@define-color noti-bg #eff1f5;
@define-color noti-bg-alt #eff1f5;
@define-color noti-bg-hover #eff1f5;
@define-color text-color #4c4f69;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 1rem;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: #eff1f5;
  border-radius: 10px;
}

.notification-row {
  outline: none;
}

.notification {
  background: #eff1f5;
  padding: 7px 7px 7px 0px;
  border-radius: 10px;
  border: 1px solid #ccd0da;
}

.notification-group {
  background-color: transparent;
  border-radius: 10px;
}

.image {
  margin-right: 12px;
  margin-left: 15px;
  border-radius: 12px;
  padding: 0;
}

.close-button {
  background: #d20f39;
  color: #eff1f5;
  text-shadow: none;
  padding: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #d20f39;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border-top: none;
  border-radius: 10px;
  background: #eff1f5;
  color: #179299;
  padding: 0px;
  min-height: 0px;
  min-width: 0px;
}

.notification-action label {
  padding: 0px;
  margin: 0;
  font-size: 0.8rem;
  font-family: monospace;
  color: #179299;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  font-size: 0.1rem;
  border-radius: 10px;
  background: #eff1f5;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #4c4f69;
  background: #eff1f5;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: #eff1f5;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: #eff1f5;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: #eff1f5;
  color: #4c4f69;
  caret-color: #4c4f69;
  border: 1px solid #ccd0da;
  border-radius: 10px;
}

.inline-reply-button {
  font-size: 0.5rem;
  margin-left: 4px;
  background: #eff1f5;
  border: 1px solid #ccd0da;
  border-radius: 10px;
  color: #4c4f69;
}

.inline-reply-button:disabled {
  background: initial;
  color: #4c4f69;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: #ccd0da;
}

.body-image {
  margin-top: 6px;
  color: #4c4f69;
  border-radius: 10px;
}

.summary {
  font-size: 0.9rem;
  background: transparent;
  color: #4c4f69;
  text-shadow: none;
}

.time {
  font-size: 0.8rem;
  background: transparent;
  color: #4c4f69;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 0.8rem;
  background: transparent;
  color: #4c4f69;
  text-shadow: none;
}

.control-center {
  background: #eff1f5;
  border: 1px solid #ccd0da;
  color: #4c4f69;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.05);
}

.widget-title {
  color: #4c4f69;
  background: #eff1f5;
  padding: 3px 6px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.widget-title > button {
  font-size: 0.75rem;
  color: #4c4f69;
  border-radius: 10px;
  background: transparent;
  border: 0.5px solid #ccd0da;
}

.widget-title > button:hover {
  background: #4c4f69;
  color: #eff1f5;
}

.widget-dnd {
  background: #eff1f5;
  padding: 3px 6px;
  margin: 5px;
  border-radius: 12px;
  font-size: 0.5rem;
  color: #4c4f69;
}

.widget-dnd > switch {
  border-radius: 12px;
  background: #4c4f69;
}

.widget-dnd > switch:checked {
  background: #d20f39;
}

.widget-dnd > switch slider {
  background: #eff1f5;
  border-radius: 12px;
}

.widget-dnd > switch:checked slider {
  background: #eff1f5;
  border-radius: 12px;
}

.widget-label {
  margin: 5px;
}

.widget-label > label {
  font-size: 1rem;
  color: #4c4f69;
}

.widget-mpris {
  color: #4c4f69;
  background: #eff1f5;
  padding: 3px 6px;
  margin: 5px;
  border-radius: 10px;
}

.widget-mpris > box > button {
  border-radius: 10px;
}

.widget-mpris-player {
  margin: 5px;
}

.widget-mpris-title {
  font-weight: 400;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-size: 0.75rem;
}

.widget-buttons-grid {
  font-size: 0.9rem;
  color: #4c4f69;
  padding: 6px;
  margin: 5px;
  border-radius: 10px;
  background: #dce0e8;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  padding: 4px 12px;
  background: #eff1f5;
  border-radius: 8px;
  color: #4c4f69;
  min-width: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #4c4f69;
  color: #eff1f5;
}

.notification.low progress,
.notification.normal progress {
  background-color: #179299;
  border-radius: 12.6px;
}
