@import "mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font", "Hack Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Three sections as independent capsules */
.modules-left,
.modules-center,
.modules-right {
  font-weight: bold;
  margin: 0px 10px;
  margin-top: 4px;
  background: @base;
  border: 0px solid @overlay0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 20px;
}

.modules-left,
.modules-right {
  border: 0px solid @blue;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 4px;
  padding-left: 4px;
}

/* All modules padding */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces,
#custom-changemodel,
#custom-hint,
#custom-launcher,
#custom-lock,
#custom-menu,
#custom-music,
#custom-notification,
#custom-playerctl,
#custom-power,
#custom-wallpaper {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

#idle_inhibitor {
  color: @blue;
}

#bluetooth,
#backlight {
  color: @blue;
}

#battery {
  color: @green;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @theme_text_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#clock {
  color: @text;
}

#cpu {
  color: @green;
}

#memory {
  color: @sky;
}

#disk {
  color: @sapphire;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  background-color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* Workspaces */
#workspaces {
  background-color: transparent;
  margin: 0 5px;
  padding: 4px 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border-radius: 10px;
  color: @overlay0;
  background-color: @surface0;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.persistent {
  color: @surface1;
  border-radius: 10px;
}

#workspaces button.active {
  color: @teal;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}

#custom-music {
  color: @pink;
}

#custom-menu {
  color: @teal;
}

#custom-launcher {
  color: @teal;
}

#custom-power {
  color: @red;
}

#custom-notification {
  color: @text;
}

#custom-changemodel {
  color: @blue;
}

#custom-quicksettings {
  color: @lavender;
}

#custom-wallpaper {
  color: @mauve;
}

#custom-lock {
  color: @maroon;
}

#custom-hint {
  color: @yellow;
}

#pulseaudio {
  color: @green;
}

#pulseaudio.bluetooth {
  color: @pink;
}

#pulseaudio.muted {
  color: @red;
}

#window {
  color: @mauve;
}

#network {
  color: @teal;
}

#network.disconnected,
#network.disabled {
  background-color: @surface0;
  color: @text;
}

/* Tooltip */
tooltip {
  background: @base;
  color: @text;
  border-radius: 7px;
  border-width: 0px;
}

tooltip label {
  font-family: "JetBrains Mono Nerd Font", "Hack Nerd Font";
  font-size: 13px;
}
